body,
html {
  background-color: #fdfdfd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;  
  margin: 0;
  padding: 0;
  width: 100vw;  
  color: #333;
}

header,
nav,
footer,
section,
article,
div {
  box-sizing: border-box; /*preferred to account for borders, padding etc. the affects dimensions, 
  cf.:https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
}

img,
embed,
object,
video {
  max-width: 100%; /*avoid overflowing or empty space to ensure responsiveness for visual content elements, 
  as recommended in lesson 2.7.9*/
}

.all-caps {
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  background-color: #252831;
  text-align: center;
}

header h1 {
  margin: 20px 20px 20px 10px; /* cater for trailing letter spacing to ensure proper centering */
  font-size: 1.4rem;
  font-weight: 200;  
  color: #fff;
}

footer {
  width: 100%;
  background-color: #4D5057;
  color: #aaa;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

main {  
  display: flex;
  flex-direction: column;  
  width: 100%;
  flex: 1;
}

.map-container {
  order: 1;
  height: 300px;
  width: 100%;
  background-color: #ccc; 
}

#map {
  height: 100%;
  width: 100%;
}

.restaurant-container {
  order: 2;
  width: 100%;
  height: 100%;  
  display: flex;
  flex-direction: column;
  background-color: #3A3D45;
}

.filter-panel {  
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-panel-collapsible {
  background-color: #3A3D45;
  color: white;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filter-panel-collapsible:hover {
  background-color: #4D5057;
}

.filter-panel-collapsible .expander-icon {
  margin-left: 1rem;
}

.filter-panel-collapsible-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px 0;
}

.filter-panel select {
  background-color: white;
  font-family: Arial,sans-serif;
  height: 48px;
  width: 100%;
  margin-bottom: 10px;
}

.restaurants-list-panel {
  order: 2;
  margin: 0;
}

#restaurants-list {  
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 10px;
  box-sizing: border-box; 
  background-color: #f3f3f3;
  list-style: outside none none;
}

#restaurants-list li {
  background-color: #fff;  
  font-family: Arial,sans-serif;
  margin: 0 0 10px;
  padding: 0;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
  min-height: 100px;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0;  
  margin: 10px 0 10px;
  text-transform: uppercase;
  padding-left: 10px;
}

#restaurants-list p {
  margin: 0;
  font-size: 0.9rem;
  padding-left: 10px;
}

#restaurants-list li a {
  background-color: #ffa500;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  margin: 10px 0 0 0;
  padding: 10px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
}

#restaurants-list li a:hover, #restaurants-list li a:focus {
  background-color: #ffc04c;
  cursor: pointer;
  color: #664200;
}

@media screen and (min-width: 500px) {  
  header h1 {
    text-align: left;
    padding-left: 10px;
  }

  body, html {    
    margin: 0;
    height: 100vh;
  }

  main {
    flex: 1;
    overflow: hidden; /* make main content unscrollable */
    flex-direction: row;
  }

  .restaurant-container {
    order: 1;    
    width: 33%;
    min-width: 200px;
    max-width: 400px;
  }

  .map-container {
    order: 2;
    height: 100%;
  }

  .filter-panel select {    
    height: 36px;
  }

  .restaurants-list-panel {
    overflow: auto;
  }

  #restaurants-list {
    padding: 0 10px 10px;
    background-color: unset;    
  }  

  #restaurants-list li h1 {
    font-size: 1rem;
  }

  #restaurants-list p {
    font-size: 0.9rem;
  }

  #restaurants-list li a {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 960px) {
  #restaurants-list li h1 {
    font-size: 1.2rem;
  }

  #restaurants-list p {
    font-size: 1rem;
  }

  #restaurants-list li a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 500px) and (min-height: 600px) {
  #restaurants-list .restaurant-img {
    max-height: 100px;
    object-fit: cover;
  }
}

@media screen and (min-width: 500px) and (min-height: 800px) {
  #restaurants-list .restaurant-img {
    max-height: 120px;
  }
}

@media screen and (min-width: 500px) and (min-height: 1000px) {
  #restaurants-list .restaurant-img {
    max-height: 140px;
  }
}

@media screen and (min-width: 500px) and (min-height: 1000px) {
  #restaurants-list .restaurant-img {
    max-height: 160px;
  }
}









/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}
