$accent-main: #f18200;
$focus-main: #669cff;

$primary-dark-1: #252831;
$primary-dark-2: #303440;
$primary-dark-3: #3A3D45;
$primary-dark-4: #4D5057;
$primary-dark-5: #5e6167;
$primary-dark-6: #66686e;
$primary-dark-7: #c1c2c5;
$primary-dark-8: #e9e9ea;

$primary-light-2: #f3f3f3;
$primary-light-3: #f6f6f6;